body{
    background-image: url(Blur\ for\ my\ website.avif);
    background-size: 1450px;
}
#mains{
    text-align: center;
    margin-top: 10px;
    margin-top: 200px;
}
#main{
    border-radius: 5px;
    background-color: aqua;
    display: inline-block;
    margin-top: 25px;
    padding: 10px 20px;
    background-image: url(background\ image\ for\ quiz.jpg);
    background-size: 500px;
}
#main input{
    margin-bottom: 10px;
    display: block;
    border-radius: 5px;
    border: none;
    line-height: 25px;
    width: 370px;
}
#main h3{
    font-family: "Knewave", system-ui;
    font-weight: normal;
}
#checkButton{
    margin-top: 20px;
}
#checkButton{
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.623);
    margin:auto;
    color: rgb(0, 0, 0);
    border-radius: 8px;
    transition: 0.3s;   
}
#newgame{
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.623);
    margin:auto;
    color: rgb(0, 0, 0);
    border-radius: 8px;
    transition: 0.3s;
}
#checkButton:hover{
    background-color: white;
}
#newgame:hover{
    background-color: white;
}